// FOOTER SECTION //
footer {
    height: 300px;
    width: 100%;
    background-color: #000;
    color: #fff;

    .footer-container {
        text-align: center;
        position: relative;
        top: 20%;

        .footer1 {
            font-size: 16px;
        }

        .footer2 {
            font-size: 12px;
        }

        .footer2::after {
            @include footerBar2;
        }
    }

    .footer-container-2 {
        text-align: center;
        position: relative;
        top: 30%;

        .footer3 {
            font-size: 12px;
        }

        .lit {
            color: rgb(99, 99, 99);
            transition: all 1s;
        }

        .lit:hover {
            color: rgb(176, 0, 0);
            font-weight: 900;
        }

        .footer_social_icons {
            margin-top: 50px;
            z-index: 9999;
            position: relative;


            .social-wrapper {
                position: relative;
                z-index: 999;
            }

            a {
                color: rgb(99, 99, 99);
                margin: 0 30px;
                transition: all 1s ease;
                position: relative;
                text-decoration: none;
            }

            a:hover {
                color: #fff;
            }

            a:before {
                content: '';
                border-radius: 100%;
                height: 100px;
                width: 100px;
                position: absolute;
                transform: translate(-10%, -10%);
                z-index: -1;
                opacity: 0;
                transition: all 1s ease;
            }

            a.youtube:before {
                background-color: #FF0000;
            }

            a.linkedin:before {
                background-color: #0077B5;
            }

            a.github:before {
                background-color: #6e5494;
            }

            a.soundcloud:before {
                background-color: #ff7700;
            }

            a:hover:before {
                content: '';
                height: 50px;
                width: 50px;
                opacity: 1;
                transform: translate(-15%, -20%);
            }
        }
    }
}