// NAVBAR //
.hamburger {
    padding: 5px;
    border: 2px solid #fff;
    margin-right: 60px;
    margin-top: -2px;
}

.hamburger>div {
    height: 3px;
    width: 50px;
    background-color: #fff;
    margin-bottom: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    height: 80px;
    border-bottom: 1px solid #fff;
    position: fixed;
    width: 100%;
    transition: .5s;
    z-index: 999;
}

.navbar a {
    float: right;
    display: inline;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all .5s;
}

.navbar-nav {
    max-width: 1170px;
    margin: 0 auto;
}

li.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin-left: 75px;
    color: #fff;
    transition: .5s;
}

.navbar ul .nav-left {
    margin: 25px 0 0 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.navbar ul .nav-right {
    margin: -40px 75px 0 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navbar a:hover {
    color: #777777;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 20px 0 20px 0;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    text-align: center;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    overflow: hidden;
    width: 100%;
}

@media(max-width:900px) {
    .navbar ul .nav-right {
        display: none;
    }
}

@media(min-width:900px) {
    .open-slide {
        display: none;
    }
}

@media(max-width:576px) {

    li.logo {
        margin-left: 40px !important;
    }

    .hamburger {
        margin-right: 25px;
    }
}

@media(max-width:370px) {
    li.logo {
        margin-left: 10px !important;
        font-size: 1rem;
    }

    .hamburger {
        margin-right: 5px;
    }
}

@media(max-width:481px) {
    nav {
        height: 70px !important;
    }

    .navbar ul .nav-left {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger {
        padding: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }

    .hamburger>div {
        height: 2px;
        width: 40px;
        background-color: #fff;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    li.logo {
        font-size: 1rem;
        top: 50%;
    }

    section {
        padding-bottom: 50px !important;
    }

    .section-about p.resume-button {
        font-size: 1.5rem;
    }

    .res-desc p {
        margin: 0 15px;
    }

    .section-about p.description {
        font-size: 1rem;
    }

    .section-resume .resume-container .wrapper {
        margin-top: 25px !important;
    }

    .section-resume .resume-container {
        margin-top: 25px !important;
    }

    .section-about .about-heading,
    .section-works h1.works-heading,
    .section-contact .contact-heading,
    .section-resume .resume-heading {
        font-size: 1.5rem !important;
        margin-top: 2rem !important;
    }

    .section-about .profile-image {
        margin: 25px auto !important;
    }

    footer {
        height: 230px;
    }

    footer .footer-container-2 .footer_social_icons a {
        margin: 0 5px !important;
    }

    footer .footer-container .footer2::after {
        width: 100%;
        left: 0;
    }

    footer h1.footer1 {
        font-size: 1.25rem;
    }

    footer p.footer3 {
        font-size: .75rem;
    }

    .footer_social_icons {
        margin-top: 20px !important;
    }

    footer a.footer-media {
        font-size: .5rem;
    }
}