// RESUME SECTION //

.section-resume {
  height: auto;
  width: 100%;
  overflow: hidden;
  background: #fff;
  color: rgb(119, 119, 119);
  padding-bottom: 100px;

  h1,
  h2 {
    color: #000;
  }

  h2 {
    font-size: 1rem;
  }


  .resume-container {
    width: 100%;
    margin-top: 75px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "education professional";

    .resume-education {
      grid-area: education;
      // margin-left: 2rem;
    }

    h1.education-header:after {
      position: absolute;
      left: calc(25% - 25px);
      width: 50px;
      height: 2px;
      content: '';
      background: #000;
      margin-top: 40px;
    }

    h1.professional-header:after {
      position: absolute;
      right: calc(25% - 25px);
      width: 50px;
      height: 2px;
      content: '';
      background: #000;
      margin-top: 40px;
    }

    .resume-professional {
      grid-area: professional;
    }

    span.darker {
      color: rgb(42, 42, 42);
    }

    .wrapper {
      margin-top: 50px;
      width: 90%;
      display: grid;
      grid-column-gap: 75px;
      grid-row-gap: 15px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "date prog prog prog"
        ".  place place place"
        ".  desc desc desc";
    }

    .res-date {
      grid-area: date;
      text-align: right;
      margin-top: 12px;
      font-size: 1.25rem;
    }

    .res-place::after {
      content: '';
      height: calc(50% + 30px);
      width: 1px;
      border-radius: 100%;
      background-color: #949494;
      display: block;
      margin-top: -10px;
      position: relative;
    }

    .res-prog::before {
      content: '';
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background-color: #000;
      display: block;
      left: -25px;
      top: 15px;
      position: relative;
    }

    .res-prog {
      grid-area: prog;
      text-align: left;
    }

    .res-place {
      grid-area: place;
      text-align: left;
      font-size: 1.25rem;
    }

    .res-desc {
      grid-area: desc;
      text-align: left;

      .res-content {
        font-size: 1.25rem;
      }
    }
  }

  .resume-heading {
    @include sectionHeader;
    color: #000;
  }

  .section-title::after {
    @include headerBar;
    background: #000;
  }
}

@media (max-width:999px) {

  .resume-container {
    display: block !important;
    text-align: center;
  }

  h1.education-header:after {
    left: calc(50% - 25px) !important;
  }

  .wrapper {
    grid-template-columns: 1fr !important;
    grid-row-gap: 0 !important;
    grid-template-areas:
      "prog"
      "date"
      "place"
      "desc" !important;
    width: 100% !important;
  }

  .res-date,
  .res-prog,
  .res-place,
  .res-desc {
    text-align: center !important;
    padding-top: 10px;
  }

  .res-desc p {
    margin: 0 50px;
  }

  .res-prog::before {
    display: none !important;
  }

  h1.professional-header {
    margin-top: 75px;
  }

  h1.professional-header:after {
    left: calc(50% - 25px) !important;
  }
}