// Thank you page //
.section-thankyou {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3dLsczv5KgVmRHN0lytZ2Xjaq8Ry8YwQOa5fI4naqVWb477tG0pid9njZSIWKOouq6J1avi7-JMd2hl27Lq4IzIuj5bkyGsHpH2skfWrTXHpSavg2ytn8BxMzGnc9g-ev8UsQqmR5gfqm0Lq4M7j39d=w1920-h1280-no?authuser=0');
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.thankyou {
    top: 25%;
    transform: translate(-50%, -25%);
    position: absolute;
    left: 50%;


    &-header {
        color: #fff;
        font-size: 3rem;
    }

    &-link {
        color: #fff;
        font-size: 40px;
        margin-top: 100px;
        text-decoration: none;
        color: rgb(167, 158, 158);
    }
}