@import 'config';
@import 'resume';
@import 'contact';
@import 'footer';
@import 'works';
@import 'thankyou';
@import 'nav';

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

section {
  width: 100vw;
}



// MAIN SECTION //
.section-main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "main main2";

  .main-content {
    grid-area: main;
  }

  .img-area {
    width: 100%;
    grid-area: main;
  }

  h1.main-heading {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    position: relative;
  }

  .profession {
    color: #fff;
    top: 40%;
    position: relative;
    text-align: center;
    transition: all 1s;
  }

  #faded::before,
  #faded::after {
    content: '';
    display: inline-block;
    width: 20%;
    border-bottom: 1px solid #fff;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
  }

  #faded::after {
    margin: 0 -55% 0 .5em;
  }

  #faded {
    transition: all 1s;
  }

  .social_icons {
    grid-area: main;
    top: 45%;
    position: relative;
    text-align: center;
  }

  .social_icons li {
    display: inline;
  }

  .social_icons li .icon-outer {
    height: 55px;
    width: 55px;
  }

  .custom-icon {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: all 1s;
  }

  .custom-icon:hover {
    height: 50px;
    width: 50px;
  }

  .facebook:hover {
    background-color: #3b5998;
    border: 1px solid #3b5998;
  }

  .youtube:hover {
    background-color: #FF0000;
    border: 1px solid #FF0000;
  }

  .github:hover {
    background-color: #6e5494;
    border: 1px solid #6e5494;
  }

  .linkedin:hover {
    background-color: #0077B5;
    border: 1px solid #0077B5;
  }

  .social_icons a {
    text-decoration: none;
  }

  .section-main .social_icons a:hover {
    border: 2px solid transparent;
  }
}

// Background Animation //
.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8 {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.slide1 {
  background: url('https://lh3.googleusercontent.com/tqpReHBhnredWBE2LmEcM6N6grl9OX0sFdMRntmnoi4pRacN2Wpn4fmXt7L5QMLfyQNc9ByDvI3BTI-Qdmws8Sei6dJXT85-vtMGukCb4RDpMxje371R-VwicrhC3NZPA-HWYkk3jw=w2400');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade1 32s infinite;
  background-attachment: fixed;
}

.slide2 {
  background: url('https://lh3.googleusercontent.com/aKMCgAdrXnFVTnhS6YW4TCIAWJWiSGebOUcRc4e5SboHld2JsI346q9kQEdbdbHM5SMixVA1G1U1SbV0vsdz5SpCkH-E6MilXDBbVixNTFsNpJf4ljN9UcRiB6kzSi7DVWv1VtmKxA=w2400');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade2 32s infinite;
  background-attachment: fixed;
}

.slide3 {
  background-image: url('https://lh3.googleusercontent.com/TP9jUovA1nXd2_bKXCbajuqLlc-jMWXzwmWeMQ1yNsbDOuto7X_urW_8gJskqN2R5ZaJXTaDMB7zheVhm_HaVB9ytERO78BOo7J4lPPQXFc_OK05VIEuYZs5x7rNtpJ85mbpoQYF_A=w2400');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade3 32s infinite;
  background-attachment: fixed;
}

.slide4 {
  background: url('https://lh3.googleusercontent.com/dx7j58UiN_t7ELZEYv6Y3GlSUHQRHjBK_6wqVcKdJoaXBKbwQ9aU1jZlbfzu0TLM_e47TYcOp5rDNO5G4cPjGOCkUdWZp9Lth6cTZPwi6n6URpVJLFb6G9T3rLMQork_1txS3xDjRQ=w2400');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade4 32s infinite;
  background-attachment: fixed;
}

.slide5 {
  background-image: url('https://lh3.googleusercontent.com/CXk5lWjFDLe3LYgKtBpUXDW5rHHBmuhgC6EHIV_ehCPFBdxB2eWm978d5jA4XFoO5m6S4Nd6Fh6nTsPeJINKpC3hTm6GTRm29VE8renAJdoBH4iszqkbFtJWzeLaG-U8RnoKqnj8Zg=w2400');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade5 32s infinite;
  background-attachment: fixed;
}

.slide6 {
  background-image: url('https://lh3.googleusercontent.com/jtu5H_Y_tBPOlk2-qHpYB5KuMLHV3a3xbj25ia6-iczMB76EZ2zgPg61mCcvSfLof6M7Dq7kGksug14S3C10GlLr6jUf1CEnjZHZoKog3aGL0uXnfqkPPR1_zIO1gQmtAXSZbp7gmg=w2400');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade6 32s infinite;
  background-attachment: fixed;
}

.slide7 {
  background-image: url('https://lh3.googleusercontent.com/juRou7mFiIa0zSylSGxjQcR4zplrxRKlZBNyVYjMDj28Rj86SKAFiUP74BW5eYPDysiNC5nDwKVcoEq5KI9xKgvU3xgYWQ2THWheVsbp2tpiAp6Fzt-ehvKoFe8k6Td0if4WCOV49w=w2400');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade7 32s infinite;
  background-attachment: fixed;
}

.slide8 {
  background-image: url('https://lh3.googleusercontent.com/7yI_ZdJai4vaszVUkLJv0e0pXLyddoAqQst3mHz4iCBfdDHn--5BifEF_pMw_OouHAlQEB8EaezwK2_LjPldHPgE1MnQ_1BeZQsX59TO_fi4FQqelzBXe4Nhm4Szl0u2kPkgHe-snA=w2400');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade8 32s infinite;
  background-attachment: fixed;
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade4 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade5 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade6 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade7 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade8 {
  0% {
    opacity: 0;
  }

  11% {
    opacity: 0;
  }

  23% {
    opacity: 0;
  }

  37% {
    opacity: 0;
  }

  48% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  74% {
    opacity: 0;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Media Queries //
@media(max-width:999px) {

  .section-main {
    display: block !important;

    .main-content {
      grid-area: none;
      position: relative;
      top: 35%;

      .main-info {
        top: 35%;
      }

      .profession {
        margin: -1rem;
      }

      .social_icons {
        margin: 4rem;
      }
    }

    h1.main-heading {
      font-size: 4rem;
      margin: 0 auto;
      width: 90%;
      display: block;
    }
  }
}

@media(max-width: 576px) {

  .section-main {
    h1.main-heading {
      font-size: 3rem;
    }
  }
}

@media(max-width: 481px) {

  .section-main {
    background: url('https://lh3.googleusercontent.com/7ANBdktZ9zVwy13m8NGebn2N2vg8X1lfxEaIMuebaIX4_Afzo9uFVmMLcLfV-7gYHYvcx4YmIctwHjOoBDKQSTDzd9MvvmMP0QHQPb-DGlFc03QUi_egp8WKZavPxOp5d4N-Lvzq2qk8jJe0kEY2vEqDkj4Sp6711mGlyBWAUpgsqK7P3CPMosg-4GLnu5sacQaINqZDQKhSSplUMFB3JRGiD1UpiFF2c-hbx3hllw5qw7Pm848ox64CseStozDJ3ho2U6_m4XxDTh1X9FrZ8-yhqhqZAnDfCzFLtLepxyKuAq_Tt9haJI4KwSxm5BLOSL0ne_odqHFSTTjulYCbSWTCoHHypc0FcalRvVsNM89dL6WkdihCpPTuzwDRrKLD7fXwMQ1-2NmiybZ0_-_E4I3PLoKbwnD7Xxe-T62S2bqwyYmTFm3bULAjAkLRjxsGIOSeZa2IH8IdJz-2NYDFCt5nkgb8iTi2Biuo6oLpSeI22JGhG0cUjRgN1UkTxfAkx-uuLevcK0zydLBPEs_uggmhFADbpQ2d93_6nTt_5kP6-l6jRUpec2UvI3q21JPhmTS7mlFEheHffuvgqJjFkd_QFRyEHcUpILiMsL-bkpk5W7DkqPYS-bBErAwaxYUx6pPO1LSJ60SJw4PQF3cuMmreU-WDw80TuV1PEp6CqYF1a91AqAquIlWw5snyAw=w624-h1096-no?authuser=0') !important;

    .slide1,
    .slide2,
    .slide3,
    .slide4,
    .slide5,
    .slide6,
    .slide7,
    .slide8 {
      background-image: none;
      background-repeat: no-repeat;
      background-size: cover;
      animation: none;
      background-attachment: fixed;
      display: none;
    }

    .main-content {
      top: 40%;
    }

    h1.main-heading {
      font-size: 2rem;
      width: 50%;
    }

    .main-content .social_icons {
      width: 50%;
      margin: 40px auto;
    }
  }

  #faded::before,
  #faded::after {
    width: 10% !important;
  }
}

// ABOUT SECTION //
.section-about {
  height: auto;
  background: #fff;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;

  .about-container {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  .about-heading {
    @include sectionHeader
  }

  .section-title::after {
    position: absolute;
    left: calc(50% - 35px);
    width: 70px;
    height: 1px;
    content: '';
    background: #000;
  }

  img.profile-image {
    height: 350px;
    width: 350px;
    margin: 4rem auto;
    border-radius: 100%;
    display: block;
    position: sticky;
    z-index: 998;
  }

  @media (max-width:1200px) {
    img.profile-image {
      height: 300px;
      width: 300px;
    }
  }

  @media (max-width:1024px) {
    img.profile-image {
      height: 250px;
      width: 250px;
    }
  }

  @media (max-width:769px) {
    img.profile-image {
      height: 225px;
      width: 225px;
    }
  }

  @media (max-width:481px) {
    img.profile-image {
      margin: 0 auto;
    }
  }

  img.pride-image {
    position: absolute;
    left: 15%;
    top: 5%;
    height: 200px;
  }

  @media (max-width:1200px) {
    img.pride-image {
      left: 5%;
    }
  }

  @media (max-width:769px) {
    img.pride-image {
      height: 125px !important;
    }
  }

  img.nature-image {
    position: absolute;
    right: 15%;
    top: 5%;
    height: 200px;
  }

  @media (max-width:1200px) {
    img.nature-image {
      right: 5%;
    }
  }

  @media (max-width:1024px) {
    img.nature-image {
      height: 125px !important;
    }
  }

  @media (max-width:1024px) {

    img.nature-image,
    img.pride-image {
      height: 150px;
    }
  }

  img.bird-image {
    position: absolute;
    left: 25%;
    top: 30%;
    height: 175px;
  }

  @media (max-width:1200px) {
    img.bird-image {
      left: 15%;
    }
  }

  img.graduation-image {
    position: absolute;
    right: 25%;
    top: 30%;
    height: 175px;
  }

  @media (max-width:1024px) {

    img.bird-image,
    img.graduation-image {
      height: 125px;
    }
  }

  @media (max-width:769px) {

    img.bird-image,
    img.graduation-image {
      height: 100px;
    }
  }

  @media (max-width:1200px) {
    img.graduation-image {
      right: 15%;
    }
  }

  img.march-image {
    position: absolute;
    left: 30%;
    top: 5%;
    height: 125px;
  }

  @media (max-width:1200px) {
    img.march-image {
      left: 25%;
    }
  }

  @media (max-width:769px) {
    img.march-image {
      top: 0;
      left: 28%;
    }
  }

  img.snake-image {
    position: absolute;
    right: 30%;
    top: 5%;
    height: 125px;
  }

  @media (max-width:1200px) {
    img.snake-image {
      right: 25%;
    }
  }

  @media (max-width:769px) {
    img.snake-image {
      top: 0;
      right: 28%;
    }
  }

  @media (max-width:1024px) {

    img.snake-image,
    img.march-image {
      height: 100px;
    }
  }

  @media (max-width:769px) {
    img.snake-image {
      top: 0;
      right: 28%;
    }
  }

  @media (max-width:769px) {

    img.snake-image,
    img.march-image {
      height: 75px;
    }
  }

  @media (max-width:481px) {

    img.nature-image,
    img.pride-image,
    img.snake-image,
    img.march-image,
    img.bird-image,
    img.graduation-image {
      display: none;
    }
  }

  // smooth reveal stylings //
  #reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  #reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  p.description {
    font-size: 1.5rem;
    color: rgb(94, 93, 93);
    text-align: center;
    line-height: 2;
    word-spacing: 2;
  }

  @media(max-width:1600px) {
    .about-container {
      width: 60%;
    }
  }

  @media(max-width: 769px) {
    p.description {
      font-size: 1.25rem;
    }

    .about-container {
      width: 85%;
    }
  }



  @media(max-width: 375px) {
    img.profile-image {
      height: 200px;
      width: 200px;
    }
  }
}