@import 'config';
@import 'resume';
@import 'contact';
@import 'works';
@import 'thankyou';

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

section {
  width: 100vw;
}

// NAVBAR //
.hamburger {
  padding: 5px;
  border: 2px solid #fff;
  margin-right: 60px;
  margin-top: -2px;
}

.hamburger>div {
  height: 3px;
  width: 50px;
  background-color: #fff;
  margin-bottom: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  height: 80px;
  border-bottom: 1px solid #fff;
  position: fixed;
  width: 100%;
  transition: .5s;
  z-index: 999;
}

.navbar a {
  float: right;
  display: inline;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: all .5s;
}

.navbar-nav {
  max-width: 1170px;
  margin: 0 auto;
}

li.logo {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-left: 75px;
  color: #fff;
  transition: .5s;
}

.navbar ul .nav-left {
  margin: 25px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.navbar ul .nav-right {
  margin: -40px 75px 0 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navbar a:hover {
  color: #777777;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 20px 0 20px 0;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  text-align: center;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 100%;
}

@media(max-width:900px) {
  .navbar ul .nav-right {
    display: none;
  }
}

@media(min-width:900px) {
  .open-slide {
    display: none;
  }
}

@media(max-width:576px) {

  li.logo {
    margin-left: 40px !important;
  }

  .hamburger {
    margin-right: 25px;
  }
}

@media(max-width:370px) {
  li.logo {
    margin-left: 10px !important;
    font-size: 1rem;
  }

  .hamburger {
    margin-right: 5px;
  }
}

// MAIN SECTION //
.section-main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "main main2";

  .main-content {
    grid-area: main;
  }

  .img-area {
    width: 100%;
    grid-area: main;
  }

  h1.main-heading {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    position: relative;
  }

  .profession {
    color: #fff;
    top: 40%;
    position: relative;
    text-align: center;
    transition: all 1s;
  }

  #faded::before,
  #faded::after {
    content: '';
    display: inline-block;
    width: 20%;
    border-bottom: 1px solid #fff;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
  }

  #faded::after {
    margin: 0 -55% 0 .5em;
  }

  #faded {
    transition: all 1s;
  }

  .social_icons {
    grid-area: main;
    top: 45%;
    position: relative;
    text-align: center;
  }

  .social_icons li {
    display: inline;
  }

  .social_icons li .icon-outer {
    height: 55px;
    width: 55px;
  }

  .custom-icon {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: all 1s;
  }

  .custom-icon:hover {
    height: 50px;
    width: 50px;
  }

  .facebook:hover {
    background-color: #3b5998;
    border: 1px solid #3b5998;
  }

  .twitter:hover {
    background-color: #1dcaff;
    border: 1px solid #1dcaff;
  }

  .instagram:hover {
    background-color: #bc2a8d;
    border: 1px solid #bc2a8d;
  }

  .github:hover {
    background-color: #6e5494;
    border: 1px solid #6e5494;
  }

  .linkedin:hover {
    background-color: #0077B5;
    border: 1px solid #0077B5;
  }

  .social_icons a {
    text-decoration: none;
  }

  .section-main .social_icons a:hover {
    border: 2px solid transparent;
  }
}

// Background Animation //
.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8 {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.slide1 {
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade1 32s infinite;
  background-attachment: fixed;
}

.slide2 {
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade2 32s infinite;
  background-attachment: fixed;
}

.slide3 {
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade3 32s infinite;
  background-attachment: fixed;
}

.slide4 {
  background-image: url(../img/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade4 32s infinite;
  background-attachment: fixed;
}

.slide5 {
  background-image: url(../img/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade5 32s infinite;
  background-attachment: fixed;
}

.slide6 {
  background-image: url(../img/bg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade6 32s infinite;
  background-attachment: fixed;
}

.slide7 {
  background-image: url(../img/bg7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade7 32s infinite;
  background-attachment: fixed;
}

.slide8 {
  background-image: url(../img/bg8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade8 32s infinite;
  background-attachment: fixed;
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade4 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade5 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade6 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade7 {
  0% {
    opacity: 0;
  }

  13% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade8 {
  0% {
    opacity: 0;
  }

  11% {
    opacity: 0;
  }

  23% {
    opacity: 0;
  }

  37% {
    opacity: 0;
  }

  48% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  74% {
    opacity: 0;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Media Queries //
@media(max-width:999px) {

  .section-main {
    display: block !important;

    .main-content {
      grid-area: none;
      position: relative;
      top: 35%;

      .main-info {
        top: 35%;
      }

      .profession {
        margin: -1rem;
      }

      .social_icons {
        margin: 4rem;
      }
    }

    h1.main-heading {
      font-size: 4rem;
      margin: 0 auto;
      width: 90%;
      display: block;
    }
  }
}

@media(max-width: 576px) {

  .section-main {
    h1.main-heading {
      font-size: 3rem;
    }
  }
}

@media(max-width: 420px) {

  .section-main {
    background: url('../img/mobile-bg.jpg') !important;

    .slide1,
    .slide2,
    .slide3,
    .slide4,
    .slide5,
    .slide6,
    .slide7,
    .slide8 {
      background-image: none;
      background-repeat: no-repeat;
      background-size: cover;
      animation: none;
      background-attachment: fixed;
    }

    .main-content {
      top: 40%;
    }

    h1.main-heading {
      font-size: 2rem;
      width: 50%;
    }

    .main-content .social_icons {
      width: 50%;
      margin: 40px auto;
    }
  }
}

// ABOUT SECTION //
.section-about {
  height: auto;
  background: #fff;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;

  .about-container {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  .about-heading {
    @include sectionHeader
  }

  .section-title::after {
    position: absolute;
    left: calc(50% - 35px);
    width: 70px;
    height: 1px;
    content: '';
    background: #000;
  }

  img.profile-image {
    height: 350px;
    width: 350px;
    margin: 4rem auto;
    border-radius: 100%;
    display: block;
    position: sticky;
    z-index: 998;
  }

  @media (max-width:1200px) {
    img.profile-image {
      height: 300px;
      width: 300px;
    }
  }

  @media (max-width:1024px) {
    img.profile-image {
      height: 250px;
      width: 250px;
    }
  }

  @media (max-width:769px) {
    img.profile-image {
      height: 225px;
      width: 225px;
    }
  }

  @media (max-width:481px) {
    img.profile-image {
      margin: 0 auto;
    }
  }

  img.pride-image {
    position: absolute;
    left: 15%;
    top: 5%;
    height: 200px;
  }

  @media (max-width:1200px) {
    img.pride-image {
      left: 5%;
    }
  }

  @media (max-width:769px) {
    img.pride-image {
      height: 125px !important;
    }
  }

  img.nature-image {
    position: absolute;
    right: 15%;
    top: 5%;
    height: 200px;
  }

  @media (max-width:1200px) {
    img.nature-image {
      right: 5%;
    }
  }

  @media (max-width:1024px) {
    img.nature-image {
      height: 125px !important;
    }
  }

  @media (max-width:1024px) {

    img.nature-image,
    img.pride-image {
      height: 150px;
    }
  }

  img.bird-image {
    position: absolute;
    left: 25%;
    top: 30%;
    height: 175px;
  }

  @media (max-width:1200px) {
    img.bird-image {
      left: 15%;
    }
  }

  img.graduation-image {
    position: absolute;
    right: 25%;
    top: 30%;
    height: 175px;
  }

  @media (max-width:1024px) {

    img.bird-image,
    img.graduation-image {
      height: 125px;
    }
  }

  @media (max-width:769px) {

    img.bird-image,
    img.graduation-image {
      height: 100px;
    }
  }

  @media (max-width:1200px) {
    img.graduation-image {
      right: 15%;
    }
  }

  img.march-image {
    position: absolute;
    left: 30%;
    top: 5%;
    height: 125px;
  }

  @media (max-width:1200px) {
    img.march-image {
      left: 25%;
    }
  }

  @media (max-width:769px) {
    img.march-image {
      top: 0;
      left: 28%;
    }
  }

  img.snake-image {
    position: absolute;
    right: 30%;
    top: 5%;
    height: 125px;
  }

  @media (max-width:1200px) {
    img.snake-image {
      right: 25%;
    }
  }

  @media (max-width:769px) {
    img.snake-image {
      top: 0;
      right: 28%;
    }
  }

  @media (max-width:1024px) {

    img.snake-image,
    img.march-image {
      height: 100px;
    }
  }

  @media (max-width:769px) {
    img.snake-image {
      top: 0;
      right: 28%;
    }
  }

  @media (max-width:769px) {

    img.snake-image,
    img.march-image {
      height: 75px;
    }
  }

  @media (max-width:481px) {

    img.nature-image,
    img.pride-image,
    img.snake-image,
    img.march-image,
    img.bird-image,
    img.graduation-image {
      display: none;
    }
  }

  // smooth reveal stylings //
  #reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  #reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  p.description {
    font-size: 1.5rem;
    color: rgb(94, 93, 93);
    text-align: center;
    line-height: 2;
    word-spacing: 2;
  }

  @media(max-width:1600px) {
    .about-container {
      width: 60%;
    }
  }

  @media(max-width: 769px) {
    p.description {
      font-size: 1.25rem;
    }

    .about-container {
      width: 85%;
    }
  }



  @media(max-width: 375px) {
    img.profile-image {
      height: 200px;
      width: 200px;
    }
  }
}

// FOOTER SECTION //
footer {
  height: 400px;
  width: 100%;
  background-color: #000;
  color: #fff;

  .footer-container {
    text-align: center;
    position: relative;
    top: 20%;

    .footer2::after {
      @include footerBar2;
    }
  }

  .footer-container-2 {
    text-align: center;
    position: relative;
    top: 30%;

    .lit {
      color: rgb(99, 99, 99);
      transition: all 1s;
    }

    .lit:hover {
      color: rgb(176, 0, 0);
      font-weight: 900;
    }

    .footer_social_icons {
      margin-top: 50px;
      z-index: 9999;
      position: relative;


      .social-wrapper {
        position: relative;
        z-index: 999;
      }

      a {
        color: rgb(99, 99, 99);
        margin: 0 30px;
        transition: all 1s ease;
        position: relative;
        text-decoration: none;
      }

      a:hover {
        color: #fff;
        // z-index: 2;
      }

      a:before {
        content: '';
        border-radius: 100%;
        height: 100px;
        width: 100px;
        // background-color: blue;
        position: absolute;
        transform: translate(-20%, -20%);
        z-index: -1;
        opacity: 0;
        transition: all 1s ease;
      }

      a.facebook:before {
        background-color: rgb(59, 89, 152);
      }

      a.twitter:before {
        background-color: rgb(0, 132, 180);
      }

      a.linkedin:before {
        background-color: #0077B5;
      }

      a.github:before {
        background-color: #6e5494;
      }

      a.instagram:before {
        background-color: #fbad50;
      }

      a:hover:before {
        content: '';
        height: 63px;
        width: 63px;
        opacity: 1;
        transform: translate(-15%, -10%);

      }
    }
  }
}


@media(max-width:481px) {
  nav {
    height: 70px !important;
  }

  .navbar ul .nav-left {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .hamburger {
    padding: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }

  .hamburger>div {
    height: 2px;
    width: 40px;
    background-color: #fff;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  li.logo {
    font-size: 1rem;
    top: 50%;
  }

  section {
    padding-bottom: 50px !important;
  }

  .section-about p.resume-button {
    font-size: 1.5rem;
  }

  .res-desc p {
    margin: 0 15px;
  }

  .section-about p.description {
    font-size: 1rem;
  }

  .section-resume .resume-container .wrapper {
    margin-top: 25px !important;
  }

  .section-resume .resume-container {
    margin-top: 25px !important;
  }

  .section-about .about-heading,
  .section-works h1.works-heading,
  .section-contact .contact-heading,
  .section-resume .resume-heading {
    font-size: 1.5rem !important;
    margin-top: 2rem !important;
  }

  .section-about .profile-image {
    margin: 25px auto !important;
  }

  footer {
    height: 230px;
  }

  footer .footer-container-2 .footer_social_icons a {
    margin: 0 5px !important;
  }

  footer .footer-container .footer2::after {
    width: 100%;
    left: 0;
  }

  footer h1.footer1 {
    font-size: 1.25rem;
  }

  footer p.footer3 {
    font-size: .75rem;
  }

  .footer_social_icons {
    margin-top: 20px !important;
  }

  footer a.footer-media {
    font-size: .5rem;
  }
}